.projects {
    display: inline-block;
    color: #ffc200;
    opacity: 0.9;
    overflow: hidden;
    letter-spacing: 0.01em !important;
    text-transform: capitalize !important;
    font-size: 3rem !important;
    position: relative;
    margin-top: 2rem;
}

.projects::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #5b5b5b;
    transition: 0.3s linear;
    margin-top: 2px;
    opacity: 0.7;
}
