.projectContainer {
    width: 350px;
    height: 400px;
    background-color: #1a1a1a;
    box-shadow: 5px 5px 10px #000;
    padding: 1.5rem;
    border-radius: 10px;
    transition: all 0.3s linear;
    cursor: pointer;
}

.projectContainer:hover {
    margin-block-start: 25px;
}

.Img-Div {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 5px #0c0c0d;
    height: 350px;
}

.projectImg {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.5s all;
}

.projectImg:hover {
    filter: brightness(50%);
    transform: scale(1.1);
}

.Project-div {
    text-align: start;
    height: 350px;
}

.project-name {
    position: relative;
    display: inline-block;
    overflow: hidden;
    background: linear-gradient(to left, #ffc200, #ffc200 50%, #fff 50%);
    opacity: 0.8;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 900ms ease;
    text-decoration: none;
}

.project-name:hover {
    background-position: 0 100%;
    opacity: 0.8;
}

.newTabIcon {
    color: #fff;
    fill: #fff;
    opacity: 0.5;
    margin-top: 10px !important;
}

.newTabIcon:hover {
    color: #ffc200;
    fill: #ffc200;
    opacity: 0.9;
}

@media screen and (min-width:0) and (max-width:360px) {
    .projectContainer {
        width: 300px;
    }
}