.education {
    display: inline-block;
    color: #ffc200;
    opacity: 0.9;
    overflow: hidden;
    letter-spacing: 0.01em !important;
    text-transform: capitalize !important;
    font-size: 3rem !important;
    position: relative;
    margin-top: 2rem;
}

.education::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #5b5b5b;
    transition: 0.3s linear;
    margin-top: 2px;
    opacity: 0.7;
}

#logo {
    height: 80px;
    width: 80px;
}

.websiteVisit {
    color: #ffc200;
    text-decoration: none;
}

.ArrowUp {
    cursor: pointer;
}

.logoHead {
    width: 150px;
    height: 150px;
    padding: 2rem;
    background-color: #0c0c0d;
    box-shadow: 2px 2px 10px #000;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

#crio_logo {
    border-radius: 50%;
}

@media screen and (max-width: 500px) {
    .websiteVisit {
        font-size: 14px !important;
    }
}