.skillContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skills {
    display: inline-block;
    color: #ffc200;
    opacity: 0.9;
    overflow: hidden;
    letter-spacing: 0.01em !important;
    text-transform: capitalize !important;
    font-size: 3rem !important;
    position: relative;
    margin-top: 2rem;
}

.skills::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #5b5b5b;
    transition: 0.3s linear;
    margin-top: 2px;
    opacity: 0.7;
}
  
.skillItem {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    margin-left: 6rem;
    margin-top: 10px;
    background-color: #0c0c0d;
    box-shadow: 5px 10px 10px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s all;
}

.skillItem:hover {
    transform: scale(1.1);
}



@media screen and (max-width: 1200px) {
    .skillDev {
        width:500px;

    }
    .skillSvgConatiner{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 850px){
    .skillDev {
        width:400px;

    }
    .skillItem {
        margin-left: 4rem !important;
    }
}

@media screen and (max-width: 600px){
    .skillItem {
        margin-left: 3rem !important;
    }
    .skillDev {
        width:300px;
    }
}

@media screen and (max-width: 520px){
    .skillItem {
        margin-left: 2.5rem !important;
    }
}

@media screen and (max-width: 427px){
    .skillItem {
        margin-left: 1rem  !important;
    }
}

@media screen and (max-width: 380px){
    .skillItem {
        margin-left: 0.5rem !important;
    }
}


