.contact {
    display: inline-block;
    color: #ffc200;
    opacity: 0.9;
    overflow: hidden;
    letter-spacing: 0.01em !important;
    text-transform: capitalize !important;
    font-size: 3rem !important;
    position: relative;
    margin-bottom: 2rem;
}

.contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #5b5b5b;
    transition: 0.3s linear;
    margin-top: 2px;
    opacity: 0.7;
}

.mobile_buttons {
    display: none;
}

.heart {
    color: #ffc200;
    padding-top: 8px;
}

.mobile-icons {
    fill: #fff;
    opacity: 0.7;
    transition: 0.1s linear;
}

.mobile-icons:hover {
    fill: #ffc200;
}

@media screen and (max-width: 500px) {
    .helloBtn {
        font-size: 14px !important;
    }
}

@media screen and (max-width: 768px) {
    .mobile_buttons {
        display: block;
    }
}